---
layout: default
description: "Un document senzill, referència ràpida de les millors pràctiques de PHP, estàndard de programació acceptats i enllaços a acreditat tutorials de PHP al Web"
sitemap: true
---

{% capture welcome_content %}{% include welcome.md %}{% endcapture %}
{{ welcome_content|markdownify }}

{% capture backtotop %}[Back to Top](#top){:.top}{% endcapture %}
{% for post in site.posts reversed %}
    {% if post.isChild != true and loop.first != true %}
    {{ backtotop|markdownify }}
    {% endif %}
    <div id="{{ post.anchor }}">
    {{ post.content }}
    </div>
{% endfor %}
{{ backtotop|markdownify }}
